<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>br.dev.grancode.controle.UsuarioServlet</servlet-class>
        <init-param>
            <param-name>get</param-name>
            <param-value>doGet</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/usuarios/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsuarioNovo</servlet-name>
        <servlet-class>br.dev.grancode.controle.UsuarioServlet</servlet-class>
        <init-param>
            <param-name>new</param-name>
            <param-value>doNew</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioNovo</servlet-name>
        <url-pattern>/usuarios/novo/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>br.dev.grancode.controle.ClienteServlet</servlet-class>
        <init-param>
            <param-name>get</param-name>
            <param-value>doGet</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/clientes/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Produtos</servlet-name>
        <servlet-class>br.dev.grancode.controle.ProdutosServlet</servlet-class>
        <init-param>
            <param-name>get</param-name>
            <param-value>doGet</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Produtos</servlet-name>
        <url-pattern>/produtos/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Pedidos</servlet-name>
        <servlet-class>br.dev.grancode.controle.PedidosServlet</servlet-class>
        <init-param>
            <param-name>get</param-name>
            <param-value>doGet</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pedidos</servlet-name>
        <url-pattern>/pedidos/</url-pattern>
    </servlet-mapping>
</web-app>